@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFDFB; /* Warna dasar HomeCheck */
}

/* Custom utility untuk teks analisis agar lebih rapi */
.custom-analysis-text {
  letter-spacing: -0.01em;
  line-height: 1.8;
}